# Dependency directories
node_modules/

# Coverage directory
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vitest
.vitest/

# Build
build/
dist/

# Playwright
.playwright-user-data/
test-results/
playwright-report/
